{
  "openapi": "3.0.1",
  "info": {
    "title": "PointClickCare API",
    "contact": {
      "name": "Developer Relations",
      "url": "https://developer.pointclickcare.com",
      "email": "devrelations@pointclickcare.com"
    },
    "version": "4.4.58"
  },
  "servers": [
    {
      "url": "https://connect.pointclickcare.com/api"
    },
    {
      "url": "https://connect2.pointclickcare.com/api"
    }
  ],
  "tags": [
    {
      "name": "ADT Record"
    },
    {
      "name": "Activity of Daily Living"
    },
    {
      "name": "Allergy Intolerances"
    },
    {
      "name": "App Activations"
    },
    {
      "name": "Ancillary Charges"
    },
    {
      "name": "Assessments"
    },
    {
      "name": "Backup Files"
    },
    {
      "name": "Billing Encounters"
    },
    {
      "name": "Calendar Event"
    },
    {
      "name": "Care Plans"
    },
    {
      "name": "Care Profile"
    },
    {
      "name": "Claim Management"
    },
    {
      "name": "Conditions"
    },
    {
      "name": "Consents"
    },
    {
      "name": "Coverages"
    },
    {
      "name": "Destinations"
    },
    {
      "name": "Diagnostic Reports"
    },
    {
      "name": "Document"
    },
    {
      "name": "Episodes of Care"
    },
    {
      "name": "External Facility"
    },
    {
      "name": "Facilities"
    },
    {
      "name": "Historical Clinical Data"
    },
    {
      "name": "Immunizations"
    },
    {
      "name": "Journal Entries Summary"
    },
    {
      "name": "Medications"
    },
    {
      "name": "Nutrition Orders"
    },
    {
      "name": "Observations"
    },
    {
      "name": "Oids"
    },
    {
      "name": "OrganizationMasterPatient"
    },
    {
      "name": "Patient Contacts"
    },
    {
      "name": "Patients"
    },
    {
      "name": "Payments"
    },
    {
      "name": "Pick Lists"
    },
    {
      "name": "Practitioners"
    },
    {
      "name": "Progress Notes"
    },
    {
      "name": "Therapy"
    },
    {
      "name": "Users"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Incidents"
    }
  ],
  "paths": {
    "/public/preview1/orgs/{orgUuid}/ancillary-charges/{processId}/status": {
      "get": {
        "description": "Returns processing status of the Ancillary Charge file pushed to PointClickCare.",
        "operationId": "getAncillaryChargesStatus",
        "parameters": [
          {
            "name": "orgUuid",
            "in": "path",
            "description": "PointClickCare's unique identifier for the organization.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processId",
            "in": "path",
            "description": "Reference ID to get status of the file under processing.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAncillaryChargesResponse"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/ancillaryImport.write"
            ]
          }
        ],
        "summary": "Ancillary Charges Status",
        "tags": [
          "Ancillary Charges"
        ],
        "x-authorization": {
          "description": "This API requires a 2-legged or 3-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      }
    },
    "/public/preview1/orgs/{orgUuid}/ancillary-charges": {
      "post": {
        "description": "Push Ancillary charge files to PointClickCare. Both Facility level and EMC level files can be posted using this API. Once the file has been pushed, the GET AncillaryChargesStatus API can be called to determine whether the File has been processed and is visible to Customers.<br><br><b>NOTE:</b> Customer organizations work with PointClickCare to define Ancillary charge templates. For a successful upload, you must ask Facility/Organization staff to provide the template file name format and extension, and a copy of the associated specification. You will need to name and structure your file accordingly. Please also ensure the organization has enabled the Auto Imports Transactions at the EMC level. The posted file will be visible to customers within 5 minutes of you receiving a 201 Created response, however, the actual file processing time may vary.<br><br>In Sandbox environments, files must be named with the prefix 'ancillary_', and the extention '.txt', with the full filename and extention not exceeding 32 characters. E.g. ancillary_myfilename.txt.",
        "operationId": "postAncillaryCharges",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string",
                    "format": "binary",
                    "description": "Users are expected to upload ancillary-charges file of max size 10MB with pre-configured file format."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "orgUuid",
            "in": "path",
            "description": "PointClickCare's unique identifier for the organization.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of media being sent through the request. Expected content-type header is \"multipart/form-data\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostAncillaryChargesResponse"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/ancillaryImport.write"
            ]
          }
        ],
        "summary": "Ancillary Charges",
        "tags": [
          "Ancillary Charges"
        ],
        "x-authorization": {
          "description": "This API requires a 2-legged or 3-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      }
    },
    "/public/preview1/applications/{appName}/activations": {
      "get": {
        "description": "GET AppActivation API will return a list of the Organizations and Facilities where the application is activated and API calls can be made. If no Facilities are returned, but the scope is set to Corporate, the application is activated for all facilities in that Organization. In this case, use the GET Facilities API to get a list of activated facilities.",
        "operationId": "getAppActivation",
        "parameters": [
          {
            "description": "Part of pagination control. Skip (page - 1) * pageSize records from the beginning of the list before returning the rest. Default is 1.",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Part of pagination control. How many records to return in response to this request. Default is 50. Maximum value allowed is 200.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "App to be retrieved.",
            "in": "path",
            "name": "appName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppActivationList"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "two-legged": []
          }
        ],
        "summary": "App Activation",
        "tags": [
          "App Activations"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged OAuth access token.",
          "name": "two-legged"
        }
      },
      "servers": [
        {
          "url": "https://connect2.pointclickcare.com/api"
        }
      ]
    },
    "/public/preview1/integration-destinations": {
      "get": {
        "description": "Retrieve list of available destinations for Integration Engine Activations.",
        "operationId": "getIntegrationDestinations",
        "parameters": [
          {
            "description": "Represents the app name for an application that has been marked as an integration engine.",
            "in": "query",
            "name": "integrationEngineName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Represent whether if the destination is marked as enabled or not. Possible values are 'true' or 'false'. If no value is specified, all destinations are returned.",
            "in": "query",
            "name": "isEnabled",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Part of pagination control. Skip (page - 1) * pageSize records from the beginning of the list before returning the rest. Default is 1.",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Part of pagination control. How many records to return in response to this request. Default is 50. Maximum value allowed is 200.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationList"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged": []
          }
        ],
        "summary": "Integration Destinations",
        "tags": [
          "Destinations"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged OAuth access token.",
          "name": "two-legged"
        }
      },
      "post": {
        "description": "Push destination records to PointClickCare. Destinations marked as enabled are displayed in the PointClickCare application when activating a new HIE or Health System. This API is only intended to be used by applications that are classified as Integration Engines.",
        "operationId": "postIntegrationDestinations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostDestination"
              }
            }
          },
          "description": "Destination to be saved",
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostDestinationResponse"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "409": {
            "content": {},
            "description": "Conflict"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged": []
          }
        ],
        "summary": "Integration Destinations",
        "tags": [
          "Destinations"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged OAuth access token.",
          "name": "two-legged"
        },
        "x-codegen-request-body-name": "destination"
      },
      "servers": [
        {
          "url": "https://connect2.pointclickcare.com/api"
        }
      ]
    },
    "/public/preview1/integration-destinations/{integrationDestinationId}": {
      "patch": {
        "description": "Update integration destination records to PointClickCare. This API is only intended to be used by applications that are classified as Integration Engines.",
        "operationId": "patchIntegrationDestinations",
        "parameters": [
          {
            "description": "Represents the unique identifier for the destination in PointClickCare's system.",
            "in": "path",
            "name": "integrationDestinationId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchDestination"
              }
            }
          },
          "description": "Destination to be saved",
          "required": false
        },
        "responses": {
          "204": {
            "content": {},
            "description": "No Content"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "409": {
            "content": {},
            "description": "Conflict"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged": []
          }
        ],
        "summary": "Integration Destinations",
        "tags": [
          "Destinations"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged OAuth access token.",
          "name": "two-legged"
        },
        "x-codegen-request-body-name": "destination"
      },
      "servers": [
        {
          "url": "https://connect2.pointclickcare.com/api"
        }
      ]
    },
    "/public/preview1/orgs/{orgUuid}/activities-of-daily-living": {
      "get": {
        "description": "Retrieve historical functional status assessment questions and responses for a patient completed in the past 30 days.",
        "operationId": "getActivitiesOfDailyLiving",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for a patient within the organization.</br></br>When a patient is admitted to a facility within an organization, they are assigned a patientId which is unique to their stay within that facility. If the same patient were to get admitted to another facility within the same organization in the future, they would be assigned a new patientId. The patientId however is unique at the organization level. That is, no two patients across different facilities within the organization will have the same patientId.<br><br> <b>This identifier is crucial for tracking patient information and care but must not be displayed in any user interface due to legal privacy requirements.</b>",
            "in": "query",
            "name": "patientId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Represents the start of the date range for which the ADL assessment was recorded will be returned for a patient. The date should be expressed in the following format: YYYY-MM-DD. If startDate and endDate are not specified, only the latest assessment responses will be returned from the last 30 days. startDate can be no more than 30 days before the current date.",
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Represents the end of the date range for which the ADL assessment was recorded will be returned for a patient. The date should be expressed in the following format: YYYY-MM-DD. If startDate and endDate are not specified, only the latest assessment responses will be returned from the last 30 days.",
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Part of pagination control. Skip (page - 1) * pageSize records from the beginning of the list before returning the rest. Default is 1.",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Part of pagination control. How many records to return in response to this request. Default is 50. Maximum value allowed is 200.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdlList"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/pointOfCare.read"
            ]
          }
        ],
        "summary": "Activities Of Daily Living",
        "tags": [
          "Activity of Daily Living"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      }
    },
    "/public/preview1/orgs/{orgUuid}/activities-of-daily-living-score": {
      "get": {
        "description": "Retrieve the daily activities of daily living (ADL) score for a patient for the past 30 days.</br> The daily ADL score is calculated based on a moving window of the last 7 days of data from the current date.",
        "operationId": "getActivitiesOfDailyLivingScore",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for a patient within the organization.</br></br>When a patient is admitted to a facility within an organization, they are assigned a patientId which is unique to their stay within that facility. If the same patient were to get admitted to another facility within the same organization in the future, they would be assigned a new patientId. The patientId however is unique at the organization level. That is, no two patients across different facilities within the organization will have the same patientId.<br><br> <b>This identifier is crucial for tracking patient information and care but must not be displayed in any user interface due to legal privacy requirements.</b>",
            "in": "query",
            "name": "patientId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Represents the start of the date range for which the ADL score will be returned for a patient. The date should be expressed in the following format: YYYY-MM-DD. If startDate and endDate are not specified, the last 30 days of ADL scores will be returned as default. startDate can be no more than 30 days before the current date.",
            "in": "query",
            "name": "startDate ",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Represents the end of the date range for which the ADL score will be returned for a patient. The date should be expressed in the following format YYYY-MM-DD. If startDate and endDate are not specified, the last 30 days of ADL scores will be returned as default.",
            "in": "query",
            "name": "endDate ",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Part of pagination control. Skip (page - 1) * pageSize records from the beginning of the list before returning the rest. Default is 1.",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Part of pagination control. How many records to return in response to this request. Default is 50. Maximum value allowed is 200.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdlScoreList"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/adlScore.read"
            ]
          }
        ],
        "summary": "Activities Of Daily Living Score",
        "tags": [
          "Activity of Daily Living"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      }
    },
    "/public/preview1/orgs/{orgUuid}/adt-records": {
      "get": {
        "description": "<p>Retrieve a list of admit, transfer and discharge (ADT) record entries for a patient.</p><p> ADT entries include actions such as admission, discharge, internal room transfer, death, leave of absence.</p></p><p>Changes made to the patient's primary payer details are also retrieved.</p>",
        "operationId": "getADTRecords",
        "parameters": [
          {
            "description": "A comma-separated list of ADTs to retrieve. This represents PointClickCare's unique identifier for the patient's ADT record within the organization. If adtRecordIds is provided then patientId, effectiveDate, and pageSize should not be provided.",
            "in": "query",
            "name": "adtRecordIds",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "PointClickCare's unique identifier for a facility within the organization. If adtRecordIds is provided then facId must be provided.",
            "in": "query",
            "name": "facId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "PointClickCare's unique identifier for a patient within the organization.</br></br>When a patient is admitted to a facility within an organization, they are assigned a patientId which is unique to their stay within that facility. If the same patient were to get admitted to another facility within the same organization in the future, they would be assigned a new patientId. The patientId however is unique at the organization level. That is, no two patients across different facilities within the organization will have the same patientId. If adtRecordIds is provided, then patientId should not be provided. Otherwise, patientId should be provided.",
            "in": "query",
            "name": "patientId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "<p>Represents the date when the ADT records became effective. If adtRecordIds is provided, then effectiveDate should not be provided. Otherwise, effectiveDate is optional.</p><p> The expected date format is YYYY-MM-DD.</p>",
            "in": "query",
            "name": "effectiveDate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Possible values are active, cancelled, all. The default response will only be active ADT records.",
            "in": "query",
            "name": "recordType",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Part of pagination control. Skip (page - 1) * pageSize records from the beginning of the list before returning the rest. Default is 1.",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Part of pagination control. How many records to return in response to this request. If adtRecordIds is provided, then pageSize should not be provided. Otherwise, pageSize is optional. Default is 50. Maximum value allowed is 200.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ADTRecordDetailsList"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/adtRecord.read"
            ]
          }
        ],
        "summary": "ADT Records",
        "tags": [
          "ADT Record"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      }
    },
    "/public/preview1/orgs/{orgUuid}/advance-directives-consents": {
      "get": {
        "description": "Retrieve the list of advance directives for a patient. Advance directives allow a patient to spell out their decisions about end of life care ahead of time. <br/><br/>In PointClickCare, facilities are required to create an order template for consent, which is then used to add and track advanced directives for a patient. The consent template can contain one or multiple advance directives. ",
        "operationId": "getAdvanceDirectivesConsents",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for a patient within the organization.</br></br>When a patient is admitted to a facility within an organization, they are assigned a patientId which is unique to their stay within that facility. If the same patient were to get admitted to another facility within the same organization in the future, they would be assigned a new patientId. The patientId however is unique at the organization level. That is, no two patients across different facilities within the organization will have the same patientId. <br><br><b>This identifier is crucial for tracking patient information and care but must not be displayed in any user interface due to legal privacy requirements.</b>",
            "in": "query",
            "name": "patientId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Represents the status of the consent. Acceptable values are \"active\", \"discontinued\" and \"pending\". Multiple comma separated values are accepted. If no value is passed, only 'active' records are returned. ",
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Part of pagination control. Skip (page - 1) * pageSize records from the beginning of the list before returning the rest. Default is 1.",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Part of pagination control. How many records to return in response to this request. Default is 50. Maximum value allowed is 200.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvanceDirectiveConsentsList"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/advanceDirectivesConsent.read"
            ]
          }
        ],
        "summary": "Advance Directives Consents",
        "tags": [
          "Consents"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      }
    },
    "/public/preview1/orgs/{orgUuid}/allergyintolerances": {
      "get": {
        "description": "Retrieve the list of allergies (drug, food, substance, environmental or others) for a patient. Allergies include detailed information on the category, type, reaction type, reaction and its status.",
        "operationId": "getAllergyIntolerances",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for a patient within the organization.</br></br>When a patient is admitted to a facility within an organization, they are assigned a patientId which is unique to their stay within that facility. If the same patient were to get admitted to another facility within the same organization in the future, they would be assigned a new patientId. The patientId however is unique at the organization level. That is, no two patients across different facilities within the organization will have the same patientId.<br><br> <b>This identifier is crucial for tracking patient information and care but must not be displayed in any user interface due to legal privacy requirements.</b>",
            "in": "query",
            "name": "patientId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Represents the allergy category. Acceptable values are 'drug', 'food', 'environmental', 'substance' and 'other'. Multiple comma separated values are accepted. If not passed, all categories are returned.",
            "in": "query",
            "name": "category",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Represents the clinical status of the allergy. Acceptable values are 'active', 'resolved' and 'priorHistory'. Multiple comma separated values are accepted. If not passed, only 'active' records are returned.",
            "in": "query",
            "name": "clinicalStatus",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Part of pagination control. Skip (page - 1) * pageSize records from the beginning of the list before returning the rest. Default is 1.",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Part of pagination control. How many records to return in response to this request. Default is 50. Maximum value allowed is 200.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllergyIntoleranceList"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/allergyIntolerance.read"
            ]
          }
        ],
        "summary": "Allergy Intolerances",
        "tags": [
          "Allergy Intolerances"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      }
    },
    "/public/preview1/orgs/{orgUuid}/assessment-templates/{templateId}": {
      "get": {
        "description": "Retrieves all detailed template structure for a specified assessment. It contains sections, questions, and response choices found in the assessment.",
        "operationId": "getAssessmentTemplate",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for a facility within the organization.",
            "in": "query",
            "name": "facId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The unique template id number associated with an assessment template.",
            "in": "path",
            "name": "templateId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAssessmentTemplate"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/assessments.read"
            ]
          }
        ],
        "summary": "Assessment Template",
        "tags": [
          "Assessments"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      }
    },
    "/public/preview1/orgs/{orgUuid}/assessments": {
      "get": {
        "description": "Retrieves a list of assessments from the patient chart. This API includes both standard and custom assessments.",
        "operationId": "getAssessments",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for a patient within the organization.</br></br>When a patient is admitted to a facility within an organization, they are assigned a patientId which is unique to their stay within that facility. If the same patient were to get admitted to another facility within the same organization in the future, they would be assigned a new patientId. The patientId however is unique at the organization level. That is, no two patients across different facilities within the organization will have the same patientId.<br><br> <b>This identifier is crucial for tracking patient information and care but must not be displayed in any user interface due to legal privacy requirements.</b>",
            "in": "query",
            "name": "patientId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The status of the assessment. Acceptable values are \"All, Complete, Errors, In Progress, Inactivated, Incomplete, Modified\". Multiple comma separated values are accepted. If no value is passed only completed records are returned.",
            "in": "query",
            "name": "assessmentStatus",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique template identifier associated with custom assessment.",
            "in": "query",
            "name": "templateId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Identifies the template version of all assessments, this includes both system-defined and custom assessments.",
            "in": "query",
            "name": "templateVersion",
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Unique template identifier for system-defined assessment.",
            "in": "query",
            "name": "systemTemplateId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The start of the date range for which assessments will be returned for a patient. The date and time should be expressed in UTC in the following format: YYYY-MM-DDTHH:MM:SS.sssZ. If startDate is not specified it will default to January 1, 1970 UTC. If both startDate and endDate are not specified then the last 30 days of assessments will be returned. If the latestTemplateVersion parameter is set to true it will take precedence over startDate and endDate and only the most recently created assessment for each unique templateId will be returned.",
            "in": "query",
            "name": "startDate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The end of the date range for which assessments will be returned for a patient. The date and time should be expressed in UTC in the following format: YYYY-MM-DDTHH:MM:SS.sssZ. If endDate is not specified it will default to the current date and time. If both startDate and endDate are not specified then the last 30 days of assessments will be returned. If the latestTemplateVersion parameter is set to true it will take precedence over startDate and endDate and only the most recently created assessment for each unique templateId will be returned.",
            "in": "query",
            "name": "endDate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "When set to true this will take precedence over startDate and endDate and only the most recently created assessment for each unique template id will be returned. This parameter will default to false if not provided.",
            "in": "query",
            "name": "latestTemplateVersion",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Part of pagination control. Skip (page - 1) * pageSize records from the beginning of the list before returning the rest. Default is 1.",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Part of pagination control. How many records to return in response to this request. Default is 50. Maximum value allowed is 200.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentList"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/assessments.read"
            ]
          }
        ],
        "summary": "Assessments",
        "tags": [
          "Assessments"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      }
    },
    "/public/preview1/orgs/{orgUuid}/assessments/{assessmentId}": {
      "get": {
        "description": "Retrieves all details within an assessment on the patient chart. It includes both system and user defined assessments.<br/><br/><strong>NOTE:</strong> Before you call this API you must call the GET <a href=\"#operation/getAssessments\">/assessments</a> endpoint to obtain the <em>assessmentId</em>.",
        "operationId": "getAssessment",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Represents the identification number associated with the assessment.",
            "in": "path",
            "name": "assessmentId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentDetail"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/assessments.read"
            ]
          }
        ],
        "summary": "Assessment",
        "tags": [
          "Assessments"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      }
    },
    "/public/preview1/orgs/{orgUuid}/assessments/{assessmentId}/hipps-codes": {
      "get": {
        "description": "Retrieves the <strong>final HIPPS codes</strong> and associated Case Mix Groups (CMGs) generated from a completed and accepted MDS assessment, along with key metadata about the assessment. This endpoint is typically called after receiving a webhook notificationfor the webhook event namely 'mdsAssessment.accepted' indicating that the MDS assessment status has transitioned from completed to accepted, ensuring that the returned HIPPS codes reflect the finalized billing outcome.",
        "operationId": "getAssessmentHippsCodes",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Represents the identification number associated with the assessment. This ID is provided via webhook when an MDS assessment status has transitioned from completed to accepted.",
            "in": "path",
            "name": "assessmentId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentHippsCodesResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "two-legged": []
          }
        ],
        "summary": "Assessment HIPPS Codes",
        "tags": [
          "Sandbox APIs"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged OAuth access token.",
          "name": "two-legged"
        },
        "servers": [
          {
            "url": "https://connect2.pointclickcare.com/api"
          }
        ]
      }
    },
    "/public/preview1/orgs/{orgUuid}/beds-availability": {
      "get": {
        "description": "Retrieves the number of available beds and number of beds by certification type for a specified admission date.",
        "operationId": "getBedsAvailability",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for a facility within the organization.",
            "in": "query",
            "name": "facId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The date on which admission is planned or sought.",
            "in": "query",
            "name": "admissionDate",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BedsAvailability"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/bedsAvailability.read"
            ]
          }
        ],
        "summary": "Beds Availability",
        "tags": [
          "Facilities"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      }
    },
    "/public/preview1/orgs/{orgUuid}/facs/{facId}/backup-files": {
      "get": {
        "description": "Get the backup EMAR/TAR/MAR zip file generated for a Facility. The file will be available every hour.",
        "operationId": "getBackupFiles",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "PointClickCare's unique identifier for a facility within the organization.",
            "in": "path",
            "name": "facId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBackupFilesResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged": []
          }
        ],
        "summary": "Backup Files",
        "tags": [
          "Backup Files"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged OAuth access token.",
          "name": "two-legged"
        }
      },
      "servers": [
        {
          "url": "https://connect2.pointclickcare.com/api"
        }
      ]
    },
    "/public/preview1/orgs/{orgUuid}/calendar-events": {
      "get": {
        "description": "Retrieves a list of Calendar eventIds based on either a facId or patientId, and on \"from\" and \"to\" dates. Only active events will be returned. No cancelled or deleted events will be returned.</br>Note: No occurrence details, other than their IDs, will be returned.",
        "operationId": "getCalendarEvents",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for a facility within the organization. This parameter is mandatory if patientId is not passed.",
            "in": "query",
            "name": "facId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "PointClickCare's unique identifier for a patient for whom the event was created. This parameter is mandatory if facId is not passed.",
            "in": "query",
            "name": "patientId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "All events after this time will be returned. The date and time should be expressed in UTC in the following format: YYYY-MM-DDTHH:MM:SS.sssZ.",
            "in": "query",
            "name": "fromDateTime",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "All events before this time will be returned. The date and time should be expressed in UTC in the following format: YYYY-MM-DDTHH:MM:SS.sssZ. If toDateTime is not present, it will be set to one year after startDateTime by default.",
            "in": "query",
            "name": "toDateTime",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCalendarEventListResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/facilityCalendarEvent.read: If patientId is null<BR>user/residentCalendarEvent.read: If patientId is not null"
            ]
          }
        ],
        "summary": "Calendar Events",
        "tags": [
          "Calendar Event"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      },
      "post": {
        "description": "Creates a new Calendar Event. To create a Facility level event, the facId must be included in the request body. Otherwise, a Patient specific event will be created.\r\nFacility defined values for eventType, location and resources can be obtained by making a call to the GET EventConfiguration API.",
        "operationId": "postCalendarEvent",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCalendarEvent"
              }
            }
          },
          "description": "Calendar Event to be created",
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCalendarEventResponse"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/facilityCalendarEvent.write: If facId is not null<BR>user/residentCalendarEvent.write: If facId is null"
            ]
          }
        ],
        "summary": "Calendar Event",
        "tags": [
          "Calendar Event"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        },
        "x-codegen-request-body-name": "calendarevent"
      }
    },
    "/public/preview1/orgs/{orgUuid}/calendar-events/{calendarEventId}": {
      "get": {
        "description": "Retrieves details of a single Calendar Event by calendarEventId. Only active events will be returned.",
        "operationId": "getCalendarEvent",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "An identifier for a calendar event.",
            "in": "path",
            "name": "calendarEventId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCalendarEventDetails"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Event Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/facilityCalendarEvent.read: If patientId is null<BR>user/residentCalendarEvent.read: If patientId is not null"
            ]
          }
        ],
        "summary": "Calendar Event",
        "tags": [
          "Calendar Event"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      },
      "patch": {
        "description": "Cancels future occurrences of a Calendar Event.",
        "operationId": "patchCalendarEvent",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "PointClickCare's unique identifier for an event within the organization.",
            "in": "path",
            "name": "calendarEventId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCalendarEvent"
              }
            }
          },
          "description": "Calendar Event to be updated",
          "required": false
        },
        "responses": {
          "204": {
            "content": {},
            "description": "No Content"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/facilityCalendarEvent.write: If event is a Facility/Community Event<BR>user/residentCalendarEvent.write: If event is a Resident Event"
            ]
          }
        ],
        "summary": "Calendar Event",
        "tags": [
          "Calendar Event"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        },
        "x-codegen-request-body-name": "CalendarEvent"
      },
      "put": {
        "description": "Updates an existing Calendar Event by calendarEventId. Facility-defined values for eventType, location and resources can be obtained by making a call to the GET EventConfiguration API.",
        "operationId": "putCalendarEvent",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "An identifier for a calendar event.",
            "in": "path",
            "name": "calendarEventId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutCalendarEvent"
              }
            }
          },
          "description": "Calendar Event to be updated",
          "required": false
        },
        "responses": {
          "204": {
            "content": {},
            "description": "No Content"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/facilityCalendarEvent.write: If facId is not null<BR>user/residentCalendarEvent.write: If facId null"
            ]
          }
        ],
        "summary": "Calendar Event",
        "tags": [
          "Calendar Event"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        },
        "x-codegen-request-body-name": "calendarevent"
      }
    },
    "/public/preview1/orgs/{orgUuid}/calendar-occurrences": {
      "get": {
        "description": "Retrieves a list of occurrences of one or more Calendar Events, by eventId, facId, patientId, or date range.</br>Note: A single event can consist of multiple occurrences, each with its own occurrenceId.",
        "operationId": "getCalendarOccurrences",
        "parameters": [
          {
            "description": "Id of the event. This parameter is mandatory if patientId or facId is not passed.",
            "in": "query",
            "name": "calendarEventId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "PointClickCare's unique identifier for a facility within the organization. This parameter is mandatory if patientId or calendarEventId is not passed.",
            "in": "query",
            "name": "facId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "PointClickCare's unique identifier for a patient for whom the event was created. This parameter is mandatory if facId or calendarEventId is not passed.",
            "in": "query",
            "name": "patientId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "All events occurrences after this time will be returned. The date and time should be expressed in UTC in the following format: YYYY-MM-DDTHH:MM:SS.sssZ. This parameter is mandatory if calendarEventId is not passed.",
            "in": "query",
            "name": "fromDateTime",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "All events occurrences before this time will be returned. The date and time should be expressed in UTC in the following format: YYYY-MM-DDTHH:MM:SS.sssZ. If toDateTime is not present, it will be set to one month after fromDateTime by default.",
            "in": "query",
            "name": "toDateTime",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCalendarOccurrenceListResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/facilityCalendarEvent.read: If patientId is null<BR>user/residentCalendarEvent.read: If patientId is not null"
            ]
          }
        ],
        "summary": "Calendar Occurrences",
        "tags": [
          "Calendar Event"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      }
    },
    "/public/preview1/orgs/{orgUuid}/calendar-occurrences/{occurrenceId}": {
      "get": {
        "description": "Retrieves details of an event occurrence, including its attendance, by occurrenceId.</br>Note: A single event can consist of multiple occurrences, each with its own occurrenceId.",
        "operationId": "getCalendarOccurrence",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "An identifier for a specific occurrence of a calendar event.",
            "in": "path",
            "name": "occurrenceId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCalendarOccurrence"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/facilityCalendarEvent.read: If the occurrence belongs to an event that is facility-specific user/residentCalendarEvent.read: If the occurrence belongs to an event that is patient-specific"
            ]
          }
        ],
        "summary": "Calendar Occurrence",
        "tags": [
          "Calendar Event"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      },
      "patch": {
        "description": "Updates an occurrence of a Calendar Event, with attendeeIds to track attendance.",
        "operationId": "patchCalendarOccurrence",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "An identifier for a specific occurrence of a calendar event.",
            "in": "path",
            "name": "occurrenceId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCalendarEventOccurrence"
              }
            }
          },
          "description": "Calendar Event Occurrence to be updated",
          "required": false
        },
        "responses": {
          "204": {
            "content": {},
            "description": "No Content"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/facilityCalendarEvent.write: If the occurrence belongs to an event that is facility-specific user/residentCalendarEvent.write: If the occurrence belongs to an event that is patient-specific"
            ]
          }
        ],
        "summary": "Calendar Occurrence",
        "tags": [
          "Calendar Event"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        },
        "x-codegen-request-body-name": "CalendarOccurrence"
      }
    },
    "/public/preview1/orgs/{orgUuid}/care-periods": {
      "post": {
        "description": "Push Care Periods for a given patient to PointClickCare.<br />When pushing <b><u>historical</u></b> clinical data for a patient to PointClickCare, you must use this endpoint to first create a care period. The care period identifies a length of stay for the patient within a certain organization (for e.g. hospitals). The care period identifier is to be used in all subsequent API calls to push clinical information for the patient.",
        "operationId": "postCarePeriods",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCarePeriodExtend"
              }
            }
          },
          "description": "Care Period to be saved",
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveCarePeriodResponse"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "409": {
            "content": {},
            "description": "Conflict"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged": []
          }
        ],
        "summary": "Historical Care Periods",
        "tags": [
          "Historical Clinical Data"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged OAuth access token.",
          "name": "two-legged"
        },
        "x-codegen-request-body-name": "carePeriod"
      },
      "servers": [
        {
          "url": "https://connect2.pointclickcare.com/api"
        }
      ]
    },
    "/public/preview1/orgs/{orgUuid}/care-plans": {
      "get": {
        "description": "Get list of Care Plans for a patient.",
        "operationId": "getCarePlans",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for a patient within the organization.<br><br>When a patient is admitted to a facility within an organization, they are assigned a patientId which is unique to their stay within that facility. If the same patient were to get admitted to another facility within the same organization in the future, they would be assigned a new patientId. The patientId however is unique at the organization level. That is, no two patients across different facilities within the organization will have the same patientId. <br><br><b>This identifier is crucial for tracking patient information and care but must not be displayed in any user interface due to legal privacy requirements.</b>",
            "in": "query",
            "name": "patientId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Represents the status of the Care Plan. Acceptable values are: Active, Closed. Multiple statuses can be specified using a list of comma separated values. By default, all statuses are included.",
            "in": "query",
            "name": "carePlanStatus",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Represents the status of the Focuses within the Care Plan. Acceptable values are: Active, Resolved, Cancelled. Multiple statuses can be specified using a list of comma separated values. By default, all statuses are included.",
            "in": "query",
            "name": "focusStatus",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Part of pagination control. Skip (page - 1) * pageSize records from the beginning of the list before returning the rest. Default is 1.",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Part of pagination control. How many records to return in response to this request. Default is 50. Maximum value allowed is 50.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCarePlanListResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/carePlan.read"
            ]
          }
        ],
        "summary": "Care Plans",
        "tags": [
          "Care Plans"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      }
    },
    "/public/preview1/orgs/{orgUuid}/care-plan-kardexes": {
      "get": {
        "description": "Retrieves the care plan Kardex for one or more patients.",
        "operationId": "getCarePlanKardexes",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for facility within organization.",
            "in": "query",
            "name": "facId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Comma-separated list of patients to retrieve kardexes for. PointClickCare's unique identifier for a patient within the organization. When a patient is admitted to a facility within an organization, they are assigned a patientId which is unique to their stay within that facility. If the same patient were to get admitted to another facility within the same organization in the future, they would be assigned a new patientId. The patientId however is unique at the organization level. That is, no two patients across different facilities within the organization will have the same patientId. The patient must belong to the facility provided.<br><br><b>This identifier is crucial for tracking patient information and care but must not be displayed in any user interface due to legal privacy requirements.</b>",
            "in": "query",
            "name": "patientIds",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "PointClickCare's unique identifier for a staff position within the organization. If provided, only those Kardex items assigned to this staff position will be returned. Kardex items assigned to any position are returned by default.",
            "in": "query",
            "name": "itemPositionId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Determines whether tasks belonging to a Kardex are returned. If not provided or set to false, only interventions belonging to the Kardex will be returned.",
            "in": "query",
            "name": "shouldIncludeTasks",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Part of pagination control. Skip (page - 1) * pageSize records from the beginning of the list before returning the rest. Default is 1.",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Part of pagination control. How many records to return in response to this request. Default is 50. Maximum value allowed is 50.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarePlanKardexesListResponseDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/carePlanKardex.read"
            ]
          }
        ],
        "summary": "Care Plan Kardex",
        "tags": [
          "Care Plans"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      }
    },
    "/public/preview1/orgs/{orgUuid}/care-profiles": {
      "get": {
        "description": "Retrieves the Care Profile entries for a patient. The Care Profile allows nursing staff to collect patient information that will help with clinical decision making.",
        "operationId": "getCareProfile",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for a patient within the organization. <br><br>When a patient is admitted to a facility within an organization, they are assigned a patientId which is unique to their stay within that facility. If the same patient were to get admitted to another facility within the same organization in the future, they would be assigned a new patientId. The patientId however is unique at the organization level. That is, no two patients across different facilities within the organization will have the same patientId. <br><br><b>This identifier is crucial for tracking patient information and care but must not be displayed in any user interface due to legal privacy requirements.</b>",
            "in": "query",
            "name": "patientId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "List of PointClickCare's unique identifiers for care profile questions. Multiple comma separated values are accepted. If not passed, all the care profile questions are returned.",
            "in": "query",
            "name": "questionIds",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCareProfilePublicList"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {},
            "description": "Bad Request"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "403": {
            "content": {},
            "description": "Forbidden"
          },
          "404": {
            "content": {},
            "description": "Resource Not Found"
          },
          "429": {
            "content": {},
            "description": "Too Many Requests"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          },
          "503": {
            "content": {},
            "description": "Too Many Concurrent Requests"
          }
        },
        "security": [
          {
            "two-legged-or-three-legged": [
              "user/patient.read"
            ]
          }
        ],
        "summary": "Care Profile",
        "tags": [
          "Care Profile"
        ],
        "x-authorization": {
          "description": "This API requires a two-legged-or-three-legged OAuth access token.",
          "name": "two-legged-or-three-legged"
        }
      }
    },
    "/public/preview1/orgs/{orgUuid}/facs/{facId}/claim-files/{fileUuid}": {
      "get": {
        "description": "Download the 837 file associated with an exported batch.",
        "operationId": "get837File",
        "parameters": [
          {
            "description": "PointClickCare's unique identifier for the organization.",
            "in": "path",
            "name": "orgUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "PointClickCare's unique identifier for a facility within the organization.",
            "in": "path",
            "name": "facId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "PointClickCare's unique identifier for an 837 file.",
            "in": "path",
            "name": "fileUuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/plain": {
[...]
