{
  "openapi": "3.0.1",
  "info": {
    "title": "PointClickCare",
    "description": "API Error Codes:<br/><br/>\n\n<b>400</b> Bad Request<br/>\n<b>401</b> Client Unauthorized<br/>\n<b>403</b> Forbidden<br/>\n<b>404</b> Not Found<br/>\n<b>500</b> Internal Error<br/>\n<b>405</b> Method Not Allowed<br/>\n<b>501</b> Not Implemented<br/>\n<b>422</b> Unprocessable Entity<br/>\n<b>409</b> Conflict<br/>\n<b>410</b> Gone<br/>\n<b>412</b> Precondition Failed<br/>\n",
    "version": "4.0"
  },
  "servers": [
    {
      "url": "https://connect2.pointclickcare.com/fhir/R4",
      "description": "PointClickCare"
    }
  ],
  "tags": [
    {
      "name": "System Level Operations",
      "description": "Server-level operations"
    },
    {
      "name": "AllergyIntolerance",
      "description": "The AllergyIntolerance FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/allergyintolerance<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-allergyintolerance|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-allergyintolerance|6.1.0"
    },
    {
      "name": "CarePlan",
      "description": "The CarePlan FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/careplan<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-careplan|3.1.1"
    },
    {
      "name": "CareTeam",
      "description": "The CareTeam FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/careteam<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-careteam|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-careteam|6.1.0"
    },
    {
      "name": "Condition",
      "description": "The Condition FHIR resource type<br/><p>Note: Health concerns and Problem lists are available through the Condition resource</p>\n<br/>Base profile: http://hl7.org/fhir/R4/condition<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition-encounter-diagnosis|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition-problems-health-concerns|6.1.0"
    },
    {
      "name": "Coverage",
      "description": "The Coverage FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/coverage<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-coverage|6.1.0"
    },
    {
      "name": "Device",
      "description": "The Device FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/device<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-implantable-device|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-implantable-device|6.1.0"
    },
    {
      "name": "DiagnosticReport",
      "description": "The DiagnosticReport FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/diagnosticreport<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-diagnosticreport-lab|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-diagnosticreport-note|3.1.1"
    },
    {
      "name": "DocumentReference",
      "description": "The DocumentReference FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/documentreference<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference|6.1.0"
    },
    {
      "name": "Encounter",
      "description": "The Encounter FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/encounter<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-encounter|3.1.1"
    },
    {
      "name": "Goal",
      "description": "The Goal FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/goal<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-goal|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-goal|6.1.0"
    },
    {
      "name": "Group",
      "description": "The Group FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/group"
    },
    {
      "name": "Immunization",
      "description": "The Immunization FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/immunization<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-immunization|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-immunization|6.1.0"
    },
    {
      "name": "Location",
      "description": "The Location FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/location<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-location|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-location|6.1.0"
    },
    {
      "name": "Medication",
      "description": "The Medication FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/medication<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-medication|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-medication|6.1.0"
    },
    {
      "name": "MedicationDispense",
      "description": "The MedicationDispense FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/medicationdispense<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-medicationdispense|6.1.0"
    },
    {
      "name": "MedicationRequest",
      "description": "The MedicationRequest FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/medicationrequest<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-medicationrequest|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-medicationrequest|6.1.0"
    },
    {
      "name": "Observation",
      "description": "The Observation FHIR resource type<br/><p>Note: Smoking status, Occupation, Sexual Orientation, Vital signs, and Lab results are available through the Observation resource</p>\n<br/>Base profile: http://hl7.org/fhir/R4/observation<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-sexual-orientation|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-occupation|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-screening-assessment|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-clinical-result|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-lab|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-pregnancyintent|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-pregnancystatus|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-smokingstatus|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-bmi|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-body-height|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-body-weight|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-body-temperature|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-heart-rate|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-blood-pressure|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-respiratory-rate|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-head-circumference|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/pediatric-weight-for-height|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/head-occipital-frontal-circumference-percentile|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/pediatric-bmi-for-age|6.1.0<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-lab|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-pulse-oximetry|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/pediatric-weight-for-height|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/pediatric-bmi-for-age|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/head-occipital-frontal-circumference-percentile|3.1.1<br/>Supported profile: http://hl7.org/fhir/bodyheight<br/>Supported profile: http://hl7.org/fhir/bodytemp<br/>Supported profile: http://hl7.org/fhir/bp<br/>Supported profile: http://hl7.org/fhir/bodyweight<br/>Supported profile: http://hl7.org/fhir/heartrate<br/>Supported profile: http://hl7.org/fhir/resprate"
    },
    {
      "name": "Organization",
      "description": "The Organization FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/organization<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-organization|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-organization|6.1.0"
    },
    {
      "name": "Patient",
      "description": "The Patient FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/patient<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-patient|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-patient|6.1.0"
    },
    {
      "name": "Practitioner",
      "description": "The Practitioner FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/practitioner<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-practitioner|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-practitioner|6.1.0"
    },
    {
      "name": "PractitionerRole",
      "description": "The PractitionerRole FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/practitionerrole<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-practitionerrole|6.1.0"
    },
    {
      "name": "Procedure",
      "description": "The Procedure FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/procedure<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-procedure|3.1.1"
    },
    {
      "name": "Provenance",
      "description": "The Provenance FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/provenance<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-provenance|3.1.1<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-provenance|6.1.0"
    },
    {
      "name": "RelatedPerson",
      "description": "The RelatedPerson FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/relatedperson<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-relatedperson|6.1.0"
    },
    {
      "name": "ServiceRequest",
      "description": "The ServiceRequest FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/servicerequest<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-servicerequest|6.1.0"
    },
    {
      "name": "Specimen",
      "description": "The Specimen FHIR resource type<br/>Base profile: http://hl7.org/fhir/R4/specimen<br/>Supported profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-specimen|6.1.0"
    }
  ],
  "paths": {
    "/{tenantId}/metadata": {
      "get": {
        "tags": [
          "System Level Operations"
        ],
        "summary": "server-capabilities: Fetch the server FHIR CapabilityStatement",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                },
                "example": "{\n  \"resourceType\": \"CapabilityStatement\"\n}"
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                },
                "example": "<CapabilityStatement xmlns=\"http://hl7.org/fhir\"/>"
              }
            }
          }
        }
      }
    },
    "/{tenantId}/$export-poll-status": {
      "get": {
        "tags": [
          "System Level Operations"
        ],
        "summary": "GET: /$export-poll-status",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "_jobId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "System Level Operations"
        ],
        "summary": "POST: /$export-poll-status",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          }
        ],
        "requestBody": {
          "content": {
            "application/fhir+json": {
              "schema": {
                "title": "FHIR Resource",
                "type": "object"
              },
              "example": "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"_jobId\",\n    \"valueString\": \"example\"\n  } ]\n}"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/AllergyIntolerance/{id}": {
      "get": {
        "tags": [
          "AllergyIntolerance"
        ],
        "summary": "read-instance: Read AllergyIntolerance instance",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/AllergyIntolerance": {
      "get": {
        "tags": [
          "AllergyIntolerance"
        ],
        "summary": "read-list: List all AllergyIntolerance instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "External ids for this item",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who the sensitivity is for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "description": "active | inactive | resolved",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/AllergyIntolerance/_search": {
      "get": {
        "tags": [
          "AllergyIntolerance"
        ],
        "summary": "search-type: Search for AllergyIntolerance instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "External ids for this item",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who the sensitivity is for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "description": "active | inactive | resolved",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/CarePlan/{id}": {
      "get": {
        "tags": [
          "CarePlan"
        ],
        "summary": "read-instance: Read CarePlan instance",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/CarePlan": {
      "get": {
        "tags": [
          "CarePlan"
        ],
        "summary": "read-list: List all CarePlan instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Time period plan covers",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "External Ids for this plan",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who the care plan is for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Type of plan",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "draft | active | on-hold | revoked | completed | entered-in-error | unknown",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/CarePlan/_search": {
      "get": {
        "tags": [
          "CarePlan"
        ],
        "summary": "search-type: Search for CarePlan instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Time period plan covers",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "External Ids for this plan",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who the care plan is for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Type of plan",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "draft | active | on-hold | revoked | completed | entered-in-error | unknown",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/CareTeam/{id}": {
      "get": {
        "tags": [
          "CareTeam"
        ],
        "summary": "read-instance: Read CareTeam instance",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/CareTeam": {
      "get": {
        "tags": [
          "CareTeam"
        ],
        "summary": "read-list: List all CareTeam instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "External Ids for this team",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who care team is for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "proposed | active | suspended | inactive | entered-in-error",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/CareTeam/_search": {
      "get": {
        "tags": [
          "CareTeam"
        ],
        "summary": "search-type: Search for CareTeam instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "External Ids for this team",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who care team is for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "proposed | active | suspended | inactive | entered-in-error",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Condition/{id}": {
      "get": {
        "tags": [
          "Condition"
        ],
        "summary": "read-instance: Read Condition instance",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Condition": {
      "get": {
        "tags": [
          "Condition"
        ],
        "summary": "read-list: List all Condition instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "A unique identifier of the condition record",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "Code for the condition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "description": "The clinical status of the condition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "encounter",
            "in": "query",
            "description": "Encounter created as part of",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onset-date",
            "in": "query",
            "description": "Date related onsets (dateTime and Period)",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who has the condition?",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "The category of the condition",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Condition/_search": {
      "get": {
        "tags": [
          "Condition"
        ],
        "summary": "search-type: Search for Condition instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "A unique identifier of the condition record",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "Code for the condition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "description": "The clinical status of the condition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "encounter",
            "in": "query",
            "description": "Encounter created as part of",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onset-date",
            "in": "query",
            "description": "Date related onsets (dateTime and Period)",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who has the condition?",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "The category of the condition",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Coverage/{id}": {
      "get": {
        "tags": [
          "Coverage"
        ],
        "summary": "read-instance: Read Coverage instance",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Coverage": {
      "get": {
        "tags": [
          "Coverage"
        ],
        "summary": "read-list: List all Coverage instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "The primary identifier of the insured and the coverage",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Retrieve coverages for a patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Coverage/_search": {
      "get": {
        "tags": [
          "Coverage"
        ],
        "summary": "search-type: Search for Coverage instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "The primary identifier of the insured and the coverage",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Retrieve coverages for a patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Device/{id}": {
      "get": {
        "tags": [
          "Device"
        ],
        "summary": "read-instance: Read Device instance",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Device": {
      "get": {
        "tags": [
          "Device"
        ],
        "summary": "read-list: List all Device instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Instance id from manufacturer, owner, and others",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient information, if the resource is affixed to a person",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of the device",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Device/_search": {
      "get": {
        "tags": [
          "Device"
        ],
        "summary": "search-type: Search for Device instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Instance id from manufacturer, owner, and others",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient information, if the resource is affixed to a person",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of the device",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/DiagnosticReport/{id}": {
      "get": {
        "tags": [
          "DiagnosticReport"
        ],
        "summary": "read-instance: Read DiagnosticReport instance",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/DiagnosticReport": {
      "get": {
        "tags": [
          "DiagnosticReport"
        ],
        "summary": "read-list: List all DiagnosticReport instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "date",
            "in": "query",
            "description": "The clinically relevant time of the report",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "An identifier for the report",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "The code for the report, as opposed to codes for the atomic results, which are the names on the observation resource referred to from the result",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "The subject of the report if a patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Which diagnostic discipline/department created the report",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status of the report",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/DiagnosticReport/_search": {
      "get": {
        "tags": [
          "DiagnosticReport"
        ],
        "summary": "search-type: Search for DiagnosticReport instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "date",
            "in": "query",
            "description": "The clinically relevant time of the report",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "An identifier for the report",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "The code for the report, as opposed to codes for the atomic results, which are the names on the observation resource referred to from the result",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "The subject of the report if a patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Which diagnostic discipline/department created the report",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status of the report",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/DocumentReference/{id}": {
      "get": {
        "tags": [
          "DocumentReference"
        ],
        "summary": "read-instance: Read DocumentReference instance",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/DocumentReference": {
      "get": {
        "tags": [
          "DocumentReference"
        ],
        "summary": "read-list: List all DocumentReference instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "date",
            "in": "query",
            "description": "When this document reference was created",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Master Version Specific Identifier",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Time of service that is being documented\n\nWhen used for searching for CCD documents (type=http://loinc.org|34133-9 OR type=34133-9), a subset of the FHIR specification is allowed:\n\n1. period={qualifier}{date}\nQualifier: gt (greater than), lt (less than), ge (greater than or equal to), le (less than or equal to)\n2. period={date}\nInferred qualifier of eq (equals)\n3. period={qualifier}{date}&period={qualifier}{date}\nQualifier: one gt and one lt\nDate formats: yyyy-MM-dd",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Kind of document (LOINC if possible)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who/what is the subject of the document",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "description": "Logical id of this artifact",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Categorization of document",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "current | superseded | entered-in-error",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/DocumentReference/_search": {
      "get": {
        "tags": [
          "DocumentReference"
        ],
        "summary": "search-type: Search for DocumentReference instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "date",
            "in": "query",
            "description": "When this document reference was created",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Master Version Specific Identifier",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Time of service that is being documented\n\nWhen used for searching for CCD documents (type=http://loinc.org|34133-9 OR type=34133-9), a subset of the FHIR specification is allowed:\n\n1. period={qualifier}{date}\nQualifier: gt (greater than), lt (less than), ge (greater than or equal to), le (less than or equal to)\n2. period={date}\nInferred qualifier of eq (equals)\n3. period={qualifier}{date}&period={qualifier}{date}\nQualifier: one gt and one lt\nDate formats: yyyy-MM-dd",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Kind of document (LOINC if possible)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who/what is the subject of the document",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "description": "Logical id of this artifact",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Categorization of document",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "current | superseded | entered-in-error",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Encounter/{id}": {
      "get": {
        "tags": [
          "Encounter"
        ],
        "summary": "read-instance: Read Encounter instance",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Encounter": {
      "get": {
        "tags": [
          "Encounter"
        ],
        "summary": "read-list: List all Encounter instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "date",
            "in": "query",
            "description": "A date within the period the Encounter lasted",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Identifier(s) by which this encounter is known",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Specific type of encounter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "The patient or group present at the encounter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "description": "Logical id of this artifact",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "class",
            "in": "query",
            "description": "Classification of patient encounter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "planned | arrived | triaged | in-progress | onleave | finished | cancelled +",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Encounter/_search": {
      "get": {
        "tags": [
          "Encounter"
        ],
        "summary": "search-type: Search for Encounter instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "date",
            "in": "query",
            "description": "A date within the period the Encounter lasted",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Identifier(s) by which this encounter is known",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Specific type of encounter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "The patient or group present at the encounter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "description": "Logical id of this artifact",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "class",
            "in": "query",
            "description": "Classification of patient encounter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "planned | arrived | triaged | in-progress | onleave | finished | cancelled +",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Goal/{id}": {
      "get": {
        "tags": [
          "Goal"
        ],
        "summary": "read-instance: Read Goal instance",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Goal": {
      "get": {
        "tags": [
          "Goal"
        ],
        "summary": "read-list: List all Goal instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "External Ids for this goal",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lifecycle-status",
            "in": "query",
            "description": "proposed | planned | accepted | active | on-hold | completed | cancelled | entered-in-error | rejected",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who this goal is intended for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target-date",
            "in": "query",
            "description": "Reach goal on or before",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Goal/_search": {
      "get": {
        "tags": [
          "Goal"
        ],
        "summary": "search-type: Search for Goal instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "External Ids for this goal",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lifecycle-status",
            "in": "query",
            "description": "proposed | planned | accepted | active | on-hold | completed | cancelled | entered-in-error | rejected",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who this goal is intended for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target-date",
            "in": "query",
            "description": "Reach goal on or before",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Group/{id}": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "read-instance: Read Group instance",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Group": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "read-list: List all Group instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "actual",
            "in": "query",
            "description": "Descriptive or actual",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Unique id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "managing-entity",
            "in": "query",
            "description": "Entity that is the custodian of the Group's definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "The kind of resources contained",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of resources the group contains",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "characteristic",
            "in": "query",
            "description": "Kind of characteristic",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member",
            "in": "query",
            "description": "Reference to the group member",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "description": "Group includes or excludes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "Value held by characteristic",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Group"
        ],
        "summary": "create-type: Create a new Group instance",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          }
        ],
        "requestBody": {
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
              },
              "example": "{\n  \"resourceType\": \"Group\"\n}"
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
              },
              "example": "<Group xmlns=\"http://hl7.org/fhir\"/>"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Group/_search": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "search-type: Search for Group instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "actual",
            "in": "query",
            "description": "Descriptive or actual",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Unique id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "managing-entity",
            "in": "query",
            "description": "Entity that is the custodian of the Group's definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "The kind of resources contained",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of resources the group contains",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "characteristic",
            "in": "query",
            "description": "Kind of characteristic",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member",
            "in": "query",
            "description": "Reference to the group member",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "description": "Group includes or excludes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "Value held by characteristic",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Group/{id}/$export": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "GET: /Group/{id}/$export",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          },
          {
            "name": "_outputFormat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_typeFilter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_typePostFetchFilterUrl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_exportId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_includeHistory",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_mdm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Group"
        ],
        "summary": "POST: /Group/{id}/$export",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "requestBody": {
          "content": {
            "application/fhir+json": {
              "schema": {
                "title": "FHIR Resource",
                "type": "object"
              },
              "example": "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"_outputFormat\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"_type\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"_since\"\n  }, {\n    \"name\": \"_until\"\n  }, {\n    \"name\": \"_typeFilter\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"_typePostFetchFilterUrl\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"_exportId\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"_includeHistory\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"_mdm\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"patient\"\n  } ]\n}"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Immunization/{id}": {
      "get": {
        "tags": [
          "Immunization"
        ],
        "summary": "read-instance: Read Immunization instance",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Immunization": {
      "get": {
        "tags": [
          "Immunization"
        ],
        "summary": "read-list: List all Immunization instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Vaccination  (non)-Administration Date",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Business identifier",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "The patient for the vaccination record",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Immunization event status",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Immunization/_search": {
      "get": {
        "tags": [
          "Immunization"
        ],
        "summary": "search-type: Search for Immunization instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the tenant to target",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "DEFAULT"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Vaccination  (non)-Administration Date",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Business identifier",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "The patient for the vaccination record",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Immunization event status",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/{tenantId}/Location/{id}": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "read-instance: Read Location instance",
        "parameters": [
          {
[...]
